!pip install pycaret[full]

In [9]:
import pandas as pd
# dataset = pd.DataFrame(pd.read_excel('/content/drive/MyDrive/C조/사과/hybrid_apple_FV.xlsx', usecols = 'C:L'))
# target = pd.DataFrame(pd.read_excel('/content/drive/MyDrive/C조/사과/hybrid_apple_FV.xlsx', usecols = 'M'))
dataset = pd.read_excel('./hybrid_apple_FV.xlsx', usecols = 'C:M')
data = dataset.loc[:, ['mean_temp', 'feb', 'mar', 'apr', 'latitude', 'elevation', 'bud_burst_j', 'full_blm_j']]

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mean_temp    339 non-null    float64
 1   feb          339 non-null    float64
 2   mar          339 non-null    float64
 3   apr          339 non-null    float64
 4   precp        339 non-null    float64
 5   latitude     339 non-null    float64
 6   elevation    339 non-null    int64
 7   northness_c  339 non-null    float64
 8   slope        339 non-null    float64
 9   bud_burst_j  339 non-null    int64
 10  full_blm_j   339 non-null    int64
dtypes: float64(8), int64(3)
memory usage: 29.3 KB

In [11]:
# from pycaret.classification import *
# !pip install markupsafe==2.0.1
from pycaret.regression import *
exp = setup(data = dataset, 
            target = 'full_blm_j',
            train_size = 0.75,
            session_id = 123,
            )

In [12]:
best = compare_models()
best

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [17]:
et = create_model('et', cross_validation = False)
gbr = create_model('gbr', cross_validation = False)
catboost = create_model('catboost', cross_validation = False)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [18]:
tuned_et = tune_model(et, optimize = 'R2', n_iter = 10) # n_iter : train 데이터셋 반복 횟수
tuned_gbr = tune_model(gbr, optimize = 'R2', n_iter = 10)
tuned_catboost = tune_model(catboost, optimize = 'R2', n_iter = 10)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [19]:
## 모델 블렌딩
blender = blend_models(estimator_list = [tuned_et, tuned_gbr, tuned_catboost], optimize = 'R2')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [16]:
final_model = finalize_model(blender)
pred = predict_model(final_model, data = dataset)